:root {
  --active-color: #3a6ea5;
  --dark-color: #1f3b58;
  --bright-color: #93b5d9;
  --white: #f3f3f3;
  --black: #0f1020;
  --error-color: #db5461;
  --success-color: #8bb174;
  --gap: 5px;
  --border-radius: 2px;
  --animation-duration: .35s;
}

body {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  background: var(--white);
  color: var(--black);
}

.app {
  padding: var(--gap);
}

.title {
  display: flex;
  align-items: center;
  gap: var(--gap);
  margin-bottom: var(--gap);
}

.title::before {
  content: "";
  display: block;
  background: url("./assets/logo.png") no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
}

.page-size {
  display: flex;
  gap: var(--gap);
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-bottom: var(--gap);
}

.page-size button {
  cursor: pointer;
  font-weight: 400;
  border-radius: var(--border-radius);
  border: 1px solid var(--dark-color);
  background: var(--bright-color);
  padding: var(--gap) calc(var(--gap) * 2);
}

.page-size button:disabled {
  background: var(--active-color);
  color: var(--white);
  font-weight: 600;
}

.customer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: calc(var(--gap) * 2) 0;
}

.customer {
  display: block;
  width: 22%;
  border-radius: calc(var(--border-radius) * 2);
  padding: var(--gap);
  border: 1px solid var(--dark-color);
  box-shadow: 1px 1px 3px var(--bright-color);
  transition: all 0.3s ease;
}

.customer:hover {
  background: var(--bright-color);
}

.customer .picture {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  margin-top: var(--gap);
}

@keyframes modal-slidedown {
  from {
    transform: translateY(-110vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes modal-slideup {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-110vh);
  }
}

.modal .content {
  position: relative;
  margin: calc(var(--gap) * 5);
  border-radius: calc(var(--border-radius) * 2);
  border: 1px solid var(--dark-color);
  box-shadow: 1px 1px 3px var(--bright-color);
  background: var(--white);
  padding: var(--gap);
}

.blurred .modal .content {
  transform: translate(0);
}

.animation-appeared .modal .content {
  animation: var(--animation-duration) ease 0s 1 alternate modal-slidedown;
  transform: translate(0);
}

.animation-disappeared .modal .content {
  animation: var(--animation-duration) ease 0s 1 alternate modal-slideup;
  transform: translate(-110vh);
}

.modal .close {
  cursor: pointer;
  position: absolute;
  top: var(--gap);
  right: var(--gap);
}

.blurred > * {
  filter: blur(3px);
}

.modal {
  filter: blur(0);
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}